.nav-menu-top {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 31px;
}

.logo-new {
    width: 54px;
    height: 50px;
}

.navbar {
    background-color: #fff0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 80%;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    .nav-item {
        margin-right: 40px;
        transition: all 0.5s ease;
        position: relative;
    }
}

.change-lg,
.social-top {
    padding: 0 20px;
    font-size: 18px;
}

.change-lg {
    margin: 5px 0px;
    padding: 0 20px;
    height: 16px;
    border-left: solid 1px;
    border-right: solid 1px;
    display: flex;
    align-items: center;
}

.social-top {
    &__fb {
        padding-right: 20px;
    }
}

.navbar-nav li {
    list-style-type: none;
}

.navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: #000000;
    opacity: 0.8;
    letter-spacing: 0px;
}

.nav-item .nav-link span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.menu-navbar,
.social-top {
    display: flex;
}

//mobile

/*
  Wrapper
*/

.wrapper {
    max-width: var(--lg);
    margin: 0 auto;
    padding: 0 1.5rem;
}

.wrapper--nav-area {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-areas: "menuButton . logo" "menu menu menu";
}

@media (max-width: 49.999rem) {
    .wrapper--nav-area {
        grid-template-rows: auto 1fr;
    }
    .site-nav--is-open .wrapper--nav-area {
        height: calc(100vh - 1rem);
    }
}

@media (min-width: 30rem) {
    .wrapper--footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 50rem) {
    .wrapper--footer {
        grid-template-columns: 1fr 2fr;
    }
    .wrapper--nav-area {
        grid-template-areas: "menu logo";
    }
}


/*
    Site nav
  */

.site-nav {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    z-index: 3;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
}

.site-nav__menu {
    grid-area: menu;
}

.site-nav__link {
    padding: 1rem;
    display: block;
}

@media (max-width: 49.999rem) {
    .site-nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
    }
    .site-nav__menu {
        display: none;
        flex-direction: column;
        margin: auto;
        padding-top: 1rem;
        padding-bottom: 2rem;
        animation-duration: .2s;
        animation-timing-function: ease-in-out;
    }
    .site-nav__link {
        font-size: calc(1.2rem + 3vw);
    }
    .site-nav--is-open {
        height: 100vh;
        overflow-y: auto;
    }
    .site-nav--is-open .site-nav__menu {
        display: flex;
    }
}

@media (min-width: 50rem) {
    .site-nav__menu {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
}

.fade-in {
    animation-fill-mode: forwards;
    animation-name: fade;
}

.fade-out {
    animation-fill-mode: backwards;
    animation-name: fade;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*
    Curtain
  */

.site-nav__curtain {
    visibility: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: var(--brown-darker);
    border-radius: 50%;
    transform: translateY(100%) scale(0);
    animation-duration: .6s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.curtain-up {
    animation-name: curtainUp;
}

.curtain-down {
    animation-name: curtainDown;
}

@media (min-width: 50rem) {
    .site-nav__curtain {
        visibility: hidden;
        transform: translateY(100%) scale(0) !important;
    }
}

@keyframes curtainUp {
    0% {
        border-radius: 50%;
        transform: translateY(100%) scale(1);
        visibility: visible;
        opacity: 1;
    }
    50% {
        border-radius: 50%;
    }
    100% {
        transform: translateY(0%) scale(3, 1);
        visibility: visible;
        opacity: 1;
        border-radius: 0;
    }
}

@keyframes curtainDown {
    0% {
        border-radius: 0;
        transform: translateY(0%) scale(3, 1);
        opacity: 1;
        visibility: visible;
    }
    50% {
        opacity: 1;
        visibility: visible;
        border-radius: 50%;
    }
    99% {
        transform: translateY(100%) scale(0);
        visibility: visible;
        opacity: 1;
    }
    100% {
        transform: translateY(100%) scale(0);
        opacity: 0;
        visibility: hidden;
    }
}


/*
    Menu button
  */

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    padding: .5rem 0 .5rem 2rem;
    color: var(--lightest);
    position: sticky;
    left: 0;
    top: 0;
    align-self: normal;
    justify-self: start;
    z-index: 10;
    grid-area: menuButton;
}

.menu-button:active {
    transform: translateY(-.2rem);
}

@media (min-width: 50rem) {
    .menu-button {
        display: none;
    }
}

.menu-button__lines {
    display: grid;
    gap: 5px;
    transition: all .2s ease;
    position: absolute;
    left: 0;
}

.menu-button__lines--open {
    gap: 0;
}

.menu-button__line {
    display: block;
    transition: .2s ease;
    content: '';
    width: 1.2rem;
    height: 2px;
    background-color: var(--lightest);
    transform-origin: center;
}

.menu-button:hover .menu-button__lines {
    gap: 8px;
}

.menu-button__lines--open .menu-button__line {
    grid-row-start: 1;
    grid-column-start: 1;
    transform: rotate(45deg) scale(1.6);
}

.menu-button__lines--open .menu-button__line:nth-child(3) {
    transform: rotate(-45deg) scale(1.6);
}

@media screen and (max-width: 675px) {
    .nav-menu-top {
        display: none;
    }
}