.nav-menu-top {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 31px; }

.logo-new {
  width: 54px;
  height: 50px; }

.navbar {
  background-color: #fff0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 80%; }

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .nav-item {
    margin-right: 40px;
    transition: all 0.5s ease;
    position: relative; }

.change-lg,
.social-top {
  padding: 0 20px;
  font-size: 18px; }

.change-lg {
  margin: 5px 0px;
  padding: 0 20px;
  height: 16px;
  border-left: solid 1px;
  border-right: solid 1px;
  display: flex;
  align-items: center; }

.social-top__fb {
  padding-right: 20px; }

.navbar-nav li {
  list-style-type: none; }

.navbar-nav .nav-link {
  text-transform: capitalize;
  transition: all 0.5s ease;
  padding: 14px 0;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  color: #000000;
  opacity: 0.8;
  letter-spacing: 0px; }

.nav-item .nav-link span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold; }

.menu-navbar,
.social-top {
  display: flex; }

.container-wrap {
  background: url("/assets/images/common/background.jpg");
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  position: absolute; }

.swiper-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center; }

.bg-swipper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.swiper {
  height: 100vh;
  width: 100%; }

.swiper-wrapper {
  height: 95% !important; }

.swiper-slide {
  text-align: center;
  font-weight: bold;
  background-size: cover;
  background-position: 50%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

.swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  opacity: 1; }
.swiper-pagination-bullet-active {
  background-color: #fff; }

.swiper-slide:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .4; }
.swiper-slide h2 {
  pointer-events: none;
  opacity: 0;
  color: #ffffff;
  font-size: calc(5vw);
  letter-spacing: -1px;
  transform: translateY(-5%) scale(0.8);
  transition: 1s ease;
  text-transform: uppercase;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.01); }
.swiper-slide-active h2 {
  opacity: 1;
  transform: translateY(0%) scale(1);
  transition: 1s ease; }

.top-news-wrap {
  position: absolute;
  bottom: 94px;
  left: 0;
  width: 100%;
  color: #000000;
  font-weight: bold; }
  .top-news-wrap .news-wrap {
    position: relative;
    z-index: 10; }
    .top-news-wrap .news-wrap .news-label-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .8; }
    .top-news-wrap .news-wrap .news-label-text {
      position: relative;
      padding: 10px 0;
      font-size: 14px;
      text-align: center;
      cursor: pointer; }
      .top-news-wrap .news-wrap .news-label-text p {
        margin: 0; }

.bg-wrap {
  width: 100%; }

.bg {
  font-size: 0;
  width: 77.95833333333333%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.container-inner {
  position: relative;
  padding-top: 62.5%; }

@media screen and (min-width: 980px) and (min-aspect-ratio: 8 / 5) {
  .bg-wrap {
    width: 160vh; } }
@media screen and (min-width: 980px) {
  .bg-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }
.footer-nav-wrap {
  width: 100%; }

.footer-nav-wrap {
  color: #000000;
  font-weight: bold; }
  .footer-nav-wrap .footer-nav-link-wrap {
    justify-content: center;
    display: flex; }
  .footer-nav-wrap .footer-nav-copyright {
    text-align: center;
    margin: 0;
    font-size: 12px;
    letter-spacing: .025em; }
  .footer-nav-wrap .footer-nav-link p {
    color: #000; }

@media screen and (min-width: 980px) {
  .footer-nav-link p {
    font-size: 14px;
    letter-spacing: .025em; } }
@media screen and (min-width: 980px) {
  .footer-nav-wrap {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%); } }
.bnr,
.logo,
.logo-text {
  font-size: 0;
  position: absolute; }
  .bnr img,
  .logo img,
  .logo-text img {
    width: 100%; }

.logo {
  width: 18.458333333333332%;
  top: .866666666666667%;
  left: -.583333333333333%; }

.logo-text {
  width: 16.125%;
  top: 6.800000000000001%;
  right: 4.25%; }

.bnr {
  display: block;
  width: 21.083333333333336%;
  top: 30.133333333333333%;
  right: 4.25%; }

.bnr.is-2nd {
  top: 52%;
  right: 4.25%; }

.nav {
  position: absolute;
  display: flex;
  flex-direction: column; }
  .nav p,
  .nav a {
    padding: 0;
    margin: 0; }

.nav-container a {
  color: #fff;
  font-size: 4vw;
  line-height: 3.75vw; }

.nav-btn-wrap {
  margin-top: 10px; }
  .nav-btn-wrap .toggle-user-btn {
    display: flex;
    width: 100%; }

.btn {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.btn-text {
  color: #fff; }

@media screen and (min-width: 980px) {
  .btn {
    width: 90px;
    height: 30px; }

  .btn-text {
    font-size: 13px;
    margin-top: 4px; } }
@media screen and (min-width: 980px) and (min-aspect-ratio: 8 / 5) {
  .nav-container a {
    font-size: 7.4vh;
    line-height: 6vh; } }
@media screen and (min-width: 980px) {
  .nav {
    top: 30.4%;
    left: 2.25%; } }
.wrap-header {
  background: url("/assets/images/common/background.jpg");
  background-size: 100% auto;
  width: 100%;
  height: 760px; }

.main-content {
  background: #EDEDED 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #060607;
  padding-bottom: 50px; }

.article-wrap,
.article-posts {
  position: relative; }

.back-link,
.social-share {
  position: absolute; }

.back-link {
  left: -80px; }

.social-share {
  display: flex;
  flex-direction: column;
  right: -100px;
  top: 30px; }
  .social-share .icon-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .social-share .icon-social__fb, .social-share .icon-social__twitter {
      width: 30px;
      height: 30px;
      background: #000000 0% 0% no-repeat padding-box;
      opacity: 1;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px; }
      .social-share .icon-social__fb .fa, .social-share .icon-social__twitter .fa {
        color: #ffff; }
  .social-share .text-rotate {
    transform: matrix(0, 1, -1, 0, 0, 0);
    text-align: left;
    font: normal normal medium 10px/48px Noto Sans CJK JP;
    letter-spacing: 0px;
    color: #B5AEA2;
    opacity: 1;
    font-size: 10px;
    transform: rotate(90deg);
    margin-bottom: 45px; }

.line-col {
  width: 0px;
  height: 40px;
  border: 1px solid #B5AEA2;
  opacity: 1;
  margin: 0 auto;
  margin-bottom: 15px; }

.back-link {
  height: 80px;
  padding-right: 20px;
  border-right: 1px solid #707070; }
  .back-link__icon {
    width: 25px;
    height: 26px; }
    .back-link__icon img {
      transform: rotate(-145deg); }

.article-blog {
  padding: 10% 16.65%; }
  .article-blog .article-sub {
    position: relative;
    font-weight: bold; }
    .article-blog .article-sub .sub-des {
      display: flex;
      text-transform: uppercase;
      font-size: 10px; }
      .article-blog .article-sub .sub-des__category {
        padding-right: 40px;
        position: relative;
        margin-right: 5px; }
      .article-blog .article-sub .sub-des__category::after {
        content: "";
        position: absolute;
        right: 0;
        border-top: 2px solid black;
        width: 30px;
        top: 50%; }
  .article-blog .article-posts__title {
    margin-bottom: 40.45px; }
    .article-blog .article-posts__title h1 {
      font-size: 60px;
      font-weight: bold; }
  .article-blog .article-posts__description {
    font-size: 14px;
    letter-spacing: 0;
    text-align: left;
    font-weight: 550;
    margin-bottom: 92.8px; }
  .article-blog .article-posts__content {
    font-size: 16px; }

.recomended__title {
  padding: 0 0 20px 20px; }
  .recomended__title h5 {
    font-size: 12px;
    font-weight: bold; }
.recomended__list-item {
  display: flex; }
  .recomended__list-item .item__avt img {
    height: 264px;
    width: 300px; }
  .recomended__list-item .item__content .box-post {
    padding: 10px 0 0 20px; }
    .recomended__list-item .item__content .box-post__category {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      display: flex;
      margin-bottom: 20px; }
      .recomended__list-item .item__content .box-post__category p:not(:last-child) {
        position: relative;
        padding-right: 50px;
        margin-right: 15px; }
      .recomended__list-item .item__content .box-post__category p:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        border-top: 2px solid black;
        width: 30px;
        top: 50%; }
    .recomended__list-item .item__content .box-post__title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px; }
    .recomended__list-item .item__content .box-post__author {
      font-size: 12px; }
  .recomended__list-item .item:not(:last-child) {
    margin-right: 10px; }
